[submodule "extras/teacher-learner-wellbeing"]
	path = extras/teacher-learner-wellbeing
	url = git@github.com:massma/teacher-learner-wellbeing.git
	branch = main
[submodule "extras/eee-grad-website"]
	path = extras/eee-grad-website
	url = git@github.com:massma/eee-grad-website.git
	branch = main
